[alias]
	graph = log --oneline --graph --pretty=format:'%C(green dim)%h%Creset %C(cyan)(%cr)%Creset %C(blue)%C(bold)%d%Creset %s %C(yellow)- %aN%Creset'
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort
	publish = push -u origin HEAD
	pad = add --patch
	undo = reset HEAD~1
	amend = commit --amend
	unstage = restore --staged .
[commit]
	gpgsign = true
[core]
	autocrlf = true
	fsmonitor = true
	ignorecase = false
[push]
	default = simple
